[Desktop Entry]
Name=Whatsapp
Comment=Open Whatsapp
Exec=chromium-browser --app=https://web.whatsapp.com
Icon=whatsapp
Type=Application
Categories=Chat,SocialMedia;
