# Ignore wallpapers
themes/wallpapers/*.jpg
themes/wallpapers/*.jpeg
themes/wallpapers/*.png
themes/wallpapers/*.webp

# Re-include default wallpaper
!themes/wallpapers/default.jpg
!themes/wallpapers/default.jpeg
!themes/wallpapers/default.png
!themes/wallpapers/default.webp

# Ignore state files
config/hypr/.state/

# Ignore current colour and accent
themes/accent.color
themes/colors.css

# Ignore style.css of waybar and wofi (dynamically made using base.css and update_theme.sh script)
config/waybar/style.css
config/wofi/style.css
