*{
    font-family: "JetBrainsMonoNerdFontMono", "Share Tech Mono", monospace;
    font-size: 14px;
}
/*Outer window*/
window{
    margin: 0;
    background: rgba(5,5,5,0.8);
    border: 1px solid alpha(@accent,0.8);
    border-radius: 16px;
    /*box shadow for glasmorphism effect*/
    box-shadow:
        0 0 0 1px alpha(@accent, 0.06),
        0 8px 32px rgba(0,0,0,0.6),
        0 0 80px alpha(@accent, 0.07),
        inset 0 1px 0 rgba(255,255,255,0.06); 
    animation: fadeIn 120ms ease-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#inner-box{
    margin: 0;
    padding: 0;
    background: transparent;
}

#outer-box {
    margin: 0;
    padding: 20px 26px 20px 20px;
    background: transparent;
}

/* Search bar*/
#input{
    margin: 0 0 10px 0;
    padding: 4px 17px;
    color: white;
    background: linear-gradient(
        135deg,
        alpha(@accent, 0.12),
        alpha(@accent, 0.07)
    );    border: solid alpha(@accent, 0.25) 1px;
    /*box shadow for glasmorphism effect*/
    box-shadow:
        0 0 0 1px alpha(@accent, 0.06),          /* outer rim glow */
        0 8px 32px rgba(0,0,0, 0.6),             /* deep drop shadow for elevated glass feel*/
        0 0 80px alpha(@accent, 0.07),           /* light scattering effect */
        inset 0 1px 0 rgba(255,255,255, 0.09);   /* top inner face of glass pane*/
    caret-color: @accent;
    transition: border-color 150ms, box-shadow 150ms;
}
#input:focus{
    border-color: alpha(@accent, 0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.08),
        0 0 16px alpha(@accent, 0.10),
        0 0  6px alpha(@accent, 0.08);
}

/* Scroll bar - not properly styled.. I dont care tbh.. hidden anyways... */
#scroll {
    margin: 0;
    padding: 0;
}

/* Entry rows */
#entry{
    padding: 8px 12px;
    margin: 2px 4px;
    border-radius: 8px;
    background: transparent;
    border: solid transparent 1px;
    transition: background 120ms, border-color 120ms, box-shadow 120ms;
}
#entry:selected{
    background: linear-gradient(
        90deg,
        alpha(@accent, 0.3),
        alpha(@accent, 0.1),
        transparent,
        transparent
    );
    outline: none;
}

/* App icon */
#img{
    margin-right: 12px;
    border-radius: 6px;
}

/* App name */
#text{
    color: white;
}

