/* @accent - accent color */
* {
  font-family: "JetBrainsMono Nerd Font Mono", Lexend, sans-serif;
  font-size: 16px;
}

window#waybar{
    background-color: transparent;
    border-radius: 10px;
}

#workspaces,
#window,
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#battery,
#power-profiles-daemon{
    background: linear-gradient(rgba(30,30,30,0.95)),@accent;
    color: white;
    padding: 0px 12px;
    margin: 0px 6px;
    border-radius: 10px;
    transition: background 0.5s ease;

    /* accent border */
    border: 2px solid @accent;


}
#custom-sep {
    color: rgba(255,255,255,0.45);
}

#workspaces:hover,
#window:hover,
#clock:hover,
#pulseaudio:hover,
#backlight:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#power-profiles-daemon:hover {
    background: rgb(30,30,30);
}


#workspaces button label{
    font-size: 22px;
    color: white;
}

#workspaces button:hover{
    background:transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

#workspaces button:hover label{
    color: @accent;
}
#workspaces button.active label{
    color: @accent;
}

